/* Pallette

* /

/* roboto-mono-regular - latin */
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/roboto-mono-v22-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./assets/roboto-mono-v22-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./assets/roboto-mono-v22-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("./assets/roboto-mono-v22-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("./assets/roboto-mono-v22-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./assets/roboto-mono-v22-latin-regular.svg#RobotoMono") format("svg"); /* Legacy iOS */
}

/* Color variables */

:root {
  --corn: #f5d731; /* header */
  --aliceblue: #f0f8ff; /* background */
  --fire-opal: #ef6351; /* underlines */
  --mid-blue-green: #d1ece6; /* text blocks */
  --rythm: #e4e6f1; /* projects */
}

/*Global Styles*/

body {
  font-family: "Roboto Mono";
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 30px;
  background-color: var(--aliceblue);
}

a {
  color: #0000ff;
  font-size: 20px;
}

h2,
h3,
h4,
p,
a {
  margin-left: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 35px;
  text-decoration: underline 10px;
  text-decoration-color: var(--fire-opal);
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p,
li,
label,
input,
button {
  font-size: 20px;
}

li {
  list-style: none;
}

.page-container {
  position: relative;
  min-height: 95vh;
}

.content-wrap {
  padding-bottom: 15px; /* Footer height */
}

.centered-text {
  text-align: center;
}

/* Header */

header {
  background-color: var(--corn);
  margin: 0;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

header #site-id {
  display: flex;
  flex-direction: row;
  margin: 0;
}

header #site-id a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

nav a {
  font-size: 25px;
  margin: 0;
}

/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px; /* Footer height */
  text-align: center;
}

/* Index */

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 20px 10px;
}

.row-one,
.row-two {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  margin: 10px 10vw 10px 10vw;
}

#art,
#code,
#other,
#links {
  max-width: 40%;
  margin: 20px;
}

/* Art */

#bio {
  display: flex;
  flex-direction: column;
  background-color: var(--mid-blue-green);
  margin: 20px 12% 20px 12%;
  padding: 15px;
}

#bio-content {
  display: flex;
  flex-direction: row;
}

#bio-content img {
  height: 60vh;
  padding: 20px;
}

#bio-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* .rolling-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rolling-projects a {
  font-size: 25px;
} */

.projects h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40vw;
  margin: 15px;
  padding: 15px;
  background-color: var(--rythm);
}

.project h3 {
  font-size: 25px;
}

.project img {
  max-width: 95%;
}

.see-more {
  text-align: right;
  font-size: 20px;
}

/* Code */

#web-sections {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
}

.web-section {
  max-width: 50vw;
  padding-left: 110px;
  padding-top: 50px;
}

#skills li,
#services li {
  list-style-type: "- ";
}

/* CV */

#cv {
  background-color: var(--mid-blue-green);
  margin: 0px 12% 0px 12%;
  padding: 10px;
}

/* Contact */

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#message {
  height: 200px;
}

button {
  font-family: "Roboto Mono";
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: var(--fire-opal);
  height: 60px;
  width: 120px;
}

/* Project pages */

iframe {
  width: 90vw;
  height: 50.6vw;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.project-description {
  background-color: var(--mid-blue-green);
  margin: 20px 12% 20px 12%;
  padding: 15px;
}

.supporters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.supporters a {
  color: lightskyblue;
}

.supporters-section {
  padding: 25px 0px 25px 0px;
}

.supporters-section img {
  max-width: 20vw;
}

.image-grid {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-row img {
  padding: 5px;
  max-width: 90vw;
}

.grid-row-2 img {
  max-width: 45vw;
}

.grid-row-3 img {
  max-width: 30vw;
}

.grid-row-4 img {
  max-width: 20vw;
}

.code-snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.snippet-row {
  display: flex;
  flex-direction: row;
}

.snippet {
  background-color: darkslategrey;
  color: white;
  max-width: 90vw;
  margin: 15px;
}

/* Entity */

#entity-images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#entity-images img {
  max-width: 30vw;
  margin: 5px;
  margin-bottom: 15px;
}

/* noLoop(); */

#noloop-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#noloop-images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 10px;
  margin: 15px;
  margin-top: 30px;
}

.noloop-image {
  max-width: 30vw;
  margin: 5px;
  margin-bottom: 15px;
}

/* Hold Me */

.holdme-images {
  display: flex;
  flex-direction: column;
}

.hold-me-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hold-me-row img {
  max-width: 40vw;
  padding: 5px;
}

/* Breakpoints */

@media only screen and (max-width: 1500px) {
  #noloop-code {
    display: none;
  }
}

@media only screen and (max-width: 1240px) {
  /* Header */

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  nav a {
    padding: 0px 10px 0px 10px;
  }

  /* Art */

  #bio-content img {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  /* Index */
  .row-one,
  .row-two {
    display: flex;
    flex-direction: column;
  }

  #art,
  #code,
  #other,
  #links {
    max-width: 90%;
    margin: 20px;
  }

  /* Code */
  #web-sections {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .web-section {
    max-width: 90vw;
    padding-left: 30px;
  }

  #cv {
    margin: 0px 12% 0px 12%;
    padding: 15px;
  }

  /* Contact */

  #contact-form {
    margin: 5vw;
  }

  /* noloop */
  #noloop-main {
    width: 90%;
  }
}

@media only screen and (max-width: 437px) {
  h2,
  h3,
  h4,
  p,
  a {
    margin: 8px;
  }

  a {
    font-size: 17px;
  }

  h1 {
    font-size: 37px;
    text-align: center;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 22px;
  }

  p,
  li,
  label,
  input,
  button {
    font-size: 17px;
  }

  #intro-paragraph {
    text-align: center;
  }

  /* Art */

  #bio {
    margin: 10px;
    padding: 5px;
  }

  #bio-text {
    padding: 5px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .project {
    max-width: 90vw;
    margin: 15px;
    padding: 15px;
    background-color: #e4d5ed;
  }

  .project-title {
    text-align: center;
  }

  /* Project Pages */
  .supporters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .supporters img {
    max-width: 90vw;
  }

  .project-description {
    margin: 10px;
    padding: 10px;
  }

  /* Words out of words */

  #woow-embed {
    padding: 5px;
  }

  /* Entity */

  #entity-images {
    display: flex;
    flex-direction: column;
  }

  #entity-images img {
    max-width: 90vw;
  }
}

@media only screen and (max-width: 405px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
