h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#message {
  height: 200px;
}

button {
  font-family: "Roboto Mono";
  padding: 10px 20px 10px 20px;
  border: none;
  background-color: #e4d5ed;
}

/* Break Points */

@media only screen and (max-width: 600px) {
  #contact-form {
    padding: 5vw;
  }
}
