/* Home Page */

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px 20px 10px;
}

.row-one,
.row-two {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: top;
  margin: 10px 10vw 10px 10vw;
}

#art,
#code,
#other,
#links {
  max-width: 40%;
  margin: 20px;
}

/* Break Points */
@media only screen and (max-width: 600px) {
  #intro {
    padding: 0 20px 0 20px;
  }

  .row-one,
  .row-two {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  #art,
  #code,
  #other,
  #links {
    max-width: 80%;
  }
}
